// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.service-icon-text {
    @include body-font;
}

.img-circle {
    border-radius: 50%
}

.img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: auto;
}